<mat-card class="login-card">
  <mat-card-title>Login</mat-card-title>
  <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="login-form">
    <mat-form-field class="login-full-width" appearance="fill">
      <mat-label>Username</mat-label>
      <input [formControl]="username" matInput placeholder="username" />
    </mat-form-field>
  
    <mat-form-field class="login-full-width" appearance="fill">
      <mat-label>Password</mat-label>
      <input [formControl]="password" matInput type="password" />
    </mat-form-field>
    <button mat-raised-button color="primary">Login</button>
  </form>
</mat-card>