<mat-toolbar color="primary">
  <span color="warn">Meme Gallery</span>
  <button mat-button routerLink="home">Home</button>
  <span class="example-spacer"></span>
  <button mat-button routerLink="login">Login</button>
</mat-toolbar>
<router-outlet></router-outlet>