.main-card {
  margin: 2% 5%;
}

.centered-text {
  text-align: center;
}

.action-container {
  display: flex;
  justify-content: center;
}

.meme-card {
  background: #ececec;
}

.meme-chip-list {
  width: 100%;
}
