<div>
  <mat-card class="main-card">
    <mat-card-title class="centered-text">Welcome to Meme Gallery</mat-card-title>
    <mat-card-subtitle class="centered-text">Here's the memes</mat-card-subtitle>
  </mat-card>
</div>